html, body{
    background: #3b455e;
    margin: 0;
}

.container{
    padding: 25px 0;
}

.wrapper{
    max-width: 1180px;
    margin:0 auto; 
    height: 100%;
    padding: 0 16.25%;
    overflow: hidden;
    
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;  
}

.col{
    width:33.33%;
}

.col-1{
    width: 41.6%;
    text-align: center;
}

.col-2{
    width: 25%;
}

#info h2{
    color: white;
    font-weight: lighter;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 34px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 37px;
}

#info h1{
    color: #e0ce00;
    font-weight: 600;
    margin: 3px 0 0 0;
    font-size: 26px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.block-timer{
    text-align: center;
}

.eTimer{
    white-space: nowrap;
    padding: 5px;
    width: 100%;
    padding: 0 10px;
    margin: 0 10px;
}

.block{
    border-left: 2px solid #e0ce00; 
    padding-left: 15px;

}

#info .p{
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
   
}

#info .p-bold{
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    margin-top: 10px;
    
}

#image{
    max-width: 100%;
    padding: 0;
    margin: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-height: 400px;
    -webkit-filter: drop-shadow(-40px 3px 15px #222);
    filter:         drop-shadow(-40px 3px 15px #222); 
  }

.round {
    width: 20em;
    height: 20em;
    border: 2px solid #51596d;
    border-radius: 50%;
    margin: 25% auto;
   
  }

.round1 {
    width: 40em;
    height: 40em;
    border: 2px solid #51596d;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 30%;
  }

#form{
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}



#form h2{
    font-size: 21px;
    font-weight: lighter;
}

#form p{
    font-size: 12px;
    display: none;
}

#form p a{
    text-decoration: none;
    color: white;
}

#inputs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}


.data{
    margin-top: 10px;
    width:100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    color: black;    
    -webkit-box-sizing: border-box;    
            box-sizing: border-box;
    padding-left: 15px;
    font-size: 14px; 
    font-weight:400;
}

.data:focus{
    background: #e9e8e1;
}


.data:invalid:not(:focus){
    background: pink;
    border: 1px solid red;
}

::-webkit-input-placeholder {color:#313131; font-size: 14px; font-weight:550; }
::-moz-placeholder          {color:black; font-size: 14px; font-weight:550;}/* Firefox 19+ */
:-moz-placeholder           {color:black; font-size: 14px; font-weight:550;}/* Firefox 18- */
:-ms-input-placeholder      {color:black; font-size: 14px; font-weight:550;}

button.data{
    height: 45px;
    background: #e0ce00;  
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 1.5px;

}

button.data img{
    height: 25px;
    margin-right: 10px;
}

button.data:hover{
    background: #7abecc;
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
}

footer{
    background: #1c1e24;
}

.payment{
    max-width: 1180px; 
    overflow: hidden;
    
}

.li-payment{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    position:relative;
    height: 45px;
}

.p-img{
    list-style: none;
    width: 12.5%;
    max-height: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    bottom:0;
    -ms-flex-preferred-size:118px;
        flex-basis:118px;
}

.p-img img{
    height: 100%; 
}

.footer-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: sans-serif;
    font-size: 13px;
    margin: 10px 0 20px 0;

}

.col-text-footer{
    width: 50%;
    color: white;
}

.col-text-footer img{
    width: 50%;
}

.col-footer-li{
    width: 30%;
}

.col-footer-li ul{
    padding: 0;
}

.col-footer-li ul li{
    list-style-type: none;  
    padding: 0 0 7px 25px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}


.col-footer-li ul li a{
    color: #999999;
    text-decoration: none;
}

.col-footer-li img{
    display: none;
}

.col-icons{
    width: 20%;
    text-align: right;
    padding: 0;
}

.col-icons ul{
    padding: 0;
}

.col-icons ul li{
    list-style-type: none;
    margin: 8px;
}


@media screen and (max-width:1270px){
    .col{
        width:50%;  
    }
    .wrapper{
        padding: 0 5%;
    }
    .col-1{
        width: 50%;
        
    }
    .col-2{
        width: 50%;
    }
    .data{
        width:50%;
        margin: 5px;
    }
    #inputs{
        height: 150px;
    }
    button.data{
        height: 40px;
        font-size: 80%;
        padding: 0;
    }
    button.data img{
        height: 20px;
    }
        
    #form{
        text-align: center;
    }

    #form p{
        display: block;
    }

    #name{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }

    #country{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
    
    #email{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
}

@media screen and (max-width:765px){
    .col{
        width:100%;

    }
    .col-1{
        width: 100%;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        text-align: center;
    }
    .col-2{
        width: 100%;
    }
    .wrapper{
        padding: 0 3%;
    }
    #image{
        max-width: 80%;
        padding: 0;
      }
    .block{
        display: none;
    }
    .data{
        width:100%;
    }
    #inputs{
        height: 100%;
    }

    .col-text-footer{
        width: 100%;
        text-align: center;
       
    }

    .col-text-footer img{
        display: none;
    }

    .col-footer-li{
        width: 100%;
        text-align: center;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }

    .col-footer-li ul li a{
        color: white;
        text-decoration: underline;
    }

    .col-footer-li ul li{
        padding:7px 0 0 0;
    }

    .col-footer-li img{
        display: inline-block;
    }

    .col-icons{
        width: 100%;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }

    .col-icons ul{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0;
    }

    #form{
        text-align: left;
    }

    #form p{
        display: none;
    }

    #name{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
    #soname{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
    #country{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
    #phone{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
    #email{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
    .etNumberSize{
        font-size: 20px !important;
    }
}